
*.class
target/*
target/test-classes/logback-test.xml

target/test-classes/applicationContext.xml

.classpath

.project

*.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

bin/

build.gradle
